@media (max-width: 1500px) {

    /* ========== font_try ========== */
    .font_try { flex-wrap: wrap; height: auto; }
    .font_try_sidebar { display: contents; gap: clamp(20px, 2vw + 10px, 40px); }
    .font_try_title_wrap { order: 1; width: 100%; padding-bottom: clamp(20px, 2vw + 10px, 40px); }
    .font_try_preview { order: 2; flex: none; width: 100%; height: clamp(300px, 27.27vw + 190.9px, 600px); }
    .font_try_result { position: relative; inset: auto; height: 100%; }
    .font_try_selector_wrap { order: 3; width: 100%; min-width: 0; padding-top: clamp(20px, 2vw + 10px, 40px); }
    .font_try_size_selector { bottom: clamp(40px, 3.636vw + 25.45px, 80px); }




    /* ========== ceo ========== */
    .ceo_content { gap: 40px; }
    .ceo_bg { background: none; }
    .ceo_subject { left: 45%; }




    /* ========== history ========== */
    .history_stat { opacity: 0; }




    /* ========== cta_contact ========== */
    .cta_contact { flex-direction: column; justify-content: center; gap: 60px; padding-bottom: 60px; }
    .cta_contact_arrow_wrap { width: 100%; max-width: none; }

}




@media (max-width: 1024px) {

    /* ========== ceo ========== */
    .ceo_content { flex: 1; }
    .ceo_content > * { width: 100%; }
    .ceo_title_wrap { max-width: none; }
    .ceo_bg { display: none; }
    .ceo_subject { display: none; }




    /* ========== portfolio_lower ========== */
    .portfolio_lower > p br { display: block; }
    
    .portfolio_lower_box { flex: 0 0 calc(50% - 10px); }

}
